
 {{> header }}
   
    {{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Columna 1</h1>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor fugit sapiente porro obcaecati sit similique? Assumenda atque enim similique aperiam iure at explicabo a fugiat veniam, et quo sapiente dolore!</p>
    </div>

     <div class="col-4">
        <img scr="public/assets/img/descarga.png" class="img-thumbnail">
    </div>

</div>



    {{> footer }}

